<footer class="page-footer blue darken-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <p class="grey-text text-lighten-4">
          <h5>Empowering users to create and post their bird sightings and
            encouraging an engaging atmosphere with a community of fellow bird
            watchers!</h5>
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">About the Creators</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Contact Us</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Resources</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Additional Links</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright center">
    <div class="container">
      © 2021 A Bird's-Eye View
    </div>
  </div>
</footer>