<header class="display-flex justify-space-between align-center p-2">
    <nav>
        <div class="nav-wrapper">
            <img src="/birdsblog/assets/lorem-logo.png" class="brand-logo"></img>
            <a href="#" class="brand-logo center">A Bird's Eye View</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/login">Login</a></li>
                <li><a href="/userposts">User Posts</a></li>
                <li class="active"><a href="/profile">Profile Page</a></li>
            </ul>
        </div>
    </nav>
</header>