 <nav>
        <div class="nav-wrapper blue darken-3">
            <img src="../images/logo.jpeg" class="brand-logo"></img>
            <a href="#" class="brand-logo center">A Bird's Eye View</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/login">Login</a></li>
                <li><a href="/userposts">Posts</a></li>
                <li><a href="/userposts">Maps</a></li>
                <li class="active"><a href="/profile">Profile Page</a></li>
            </ul>
        </div>
</nav>