<div class="row">
  <form class="col s12" id="post-input">
    <div class="row post-input">
        <div class="input-field col s4">
            <i class="material-icons prefix">nature_people</i>
            <input id="post-description" type="text" class="validate" placeholder="Add Post">
            <label for="icon-prefix"></label>
        </div>
        <div class="form-group col s4">
            <label for="bird-selection">Select Bird</label>
            <select class="form-control" id="bird-selection">
                <option>American Robin</option>
                <option>Eagle</option>
                <option>Condor</option>
            </select>
        </div>
        <div class="form-group col s4">
            <label for="location-selection">Select location</label>
            <select class="form-control" id="location-selection">
                <option>Mount Rainier National Park</option>
                <option>North Cascade</option>
                <option>Cherry Creek Falls</option>
            </select>
        </div>
      <div class="s1">
        <button id="submit-post"><i class="material-icons prefix">done</i></button>
      </div>
    </div>
  </form>
</div>