<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-image">
        <img
          src="https://www.thespruce.com/thmb/rk3DGZLrlgEOprRfSwKqKopUzk4=/2121x1193/smart/filters:no_upscale()/Bird-GettyImages-582446599-58ec5c4d5f9b58ef7e24e7f4.jpg">
        <span class="card-title">{{bird.name}}BIRD NAME</span>
      </div>
      <div class="card-content">
        <p><h5>{{description}}Post Description</h5></p>
        <p><h5>{{location_id}}Location Name</h5></p>
      </div>
      <div class="card-action">
        <a href=""><h5>See More of {{user_id}}'s Posts</h5></a>
      </div>
    </div>
  </div>


  {{!-- variablers
  id
  description
  location_id
  user_id
  createdAt
  updatedAt
   --}}