<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>A Bird's Eye View</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="/css/mainTemplate.css">
</head>

<body>
{{> header}}
  <main class="container-fluid mt-5">
    {{{ body }}}
  </main>

  {{#if logged_in}}
  {{!-- <button class="btn" id="logout" style="position">logout</button> --}}
  <script src="/js/logout.js"></script>
  <script src="/js/post.js"></script>
  {{/if}}
{{> footer}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>