
  <div class="row">
    <form class="col s12" id="post-input">
      <div class="row post-input">
        <div class="input-field col s8">
          <i class="material-icons prefix">nature_people</i>
          <input id="post-description" type="text" class="validate" placeholder="Add Post">
          <label for="icon-prefix"></label>
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix">add_location</i>
          <input id="location" type="tel" class="validate" placeholder="Add Location">
          <label for="icon-prefix"></label>
        </div>
        <button>Submit Post</button>
      </div>
    </form>
  </div>
  
 {{#each users as |user| }}
 <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="https://images.unsplash.com/photo-1550853024-fae8cd4be47f?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YmlyZCUyMHJhaW58ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          <p>Displayed here should be some user info; TBD what exactly</p>
        </div>
        <div class="card-action">
          <a href="#">My Posts</a>
        </div>
      </div>
    </div>
  </div>


  {{#each posts as |post|}}
  <div class="row">
    <div class="col s12 m6">
      <div class="card center blue-grey darken-1">
        <div class="card-content white-text">
          {{!-- <span class="card-title">User Post</span> --}}
          <p>{{post.description}}</p>
        </div>
        {{!-- <div class="card-action">
          <a href="mailto:{{user.email}}">{{post.description}}</a>
        </div> --}}
      </div>
    </div>
  </div>
</div>
{{/each}}
