<h4>Empowering users to create and post their bird sightings and encouraging an
  engaging atmosphere with a community of fellow bird watchers!</h4>

<div class="carousel">
  <a class="carousel-item" href="#one!"><img
      src="../images/download (1).jpeg"
    /></a>
  <a class="carousel-item" href="#two!"><img
      src="../images/download (2).jpeg"
    /></a>
  <a class="carousel-item" href="#three!"><img
      src="../images/download (3).jpeg"
    /></a>
  <a class="carousel-item" href="#four!"><img
      src="../images/download (4).jpeg"
    /></a>
  <a class="carousel-item" href="#five!"><img
      src="../images/download.jpeg"
    /></a>
</div>

{{! <div class="row">
  <div class="col s12 m7">
    <div class="card">
      <div class="card-image">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1FP-ALYf5rduiGeKrFCDDp4Zj2SJRYZZA7Q&usqp=CAU"
        />
        <span class="card-title">Card Title</span>
      </div>
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of
          information. I am convenient because I require little markup to use
          effectively.</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>
</div> }}

<script src="/js/carousel.js"></script>