<h1>WELCOME TO THE POSTS PAGE!</h1>


 <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="https://images.unsplash.com/photo-1550853024-fae8cd4be47f?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YmlyZCUyMHJhaW58ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          <p>Displayed here should be some user info; TBD what exactly</p>
        </div>
        <div class="card-action">
          <a href="#">My Posts</a>
          <a href="#">My Posts</a>
        </div>
      </div>
    </div>
  </div>

   <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.nytimes.com%2F2020%2F04%2F03%2Fscience%2Fsouth-philippine-kingfisher-photo.html&psig=AOvVaw0ZRJ_Tr4xllLSo38LQDBs-&ust=1635970442670000&source=images&cd=vfe&ved=0CAgQjRxqFwoTCKC_ifu--vMCFQAAAAAdAAAAABAE">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          <p>Displayed here should be some user info; TBD what exactly</p>
        </div>
        <div class="card-action">
          <a href="#">My Posts</a>
          <a href="#">My Posts</a>
        </div>
      </div>
    </div>
  </div>